body {
    margin: 0px;
    height: 100vh;
}


.main {
    display: flex;
    position: relative;
    top: 96px;
    left: 232px;
    height: 89.8vh;
    width: 100%;
    right: 0px;
}

.leftContainer {
    display: flex;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    background-color: white;
    border-top: solid 1px rgb(221, 221, 221);
    z-index: 1;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1);
    padding-left: 35px;
    padding-right: 35px;
}


.rightContainer {
    display: flex;
    width: 100%;
    background-color: rgb(246,247,248);
    flex-direction: column;
}


.betterWaT, .contactAddedSuccesfully {
    position: relative;
    width: 569px;
    height: 73px;
    display: flex;
    opacity: 0;  /* Startet unsichtbar */
    transition: opacity 0.5s ease-in-out;
}

.betterWaT {
    top: 110px;
    left: 55px;
}

.contactAddedSuccesfully {
    top: 110px;
    left: 200px;
    display: none; /* Initial versteckt */
}

.show {
    opacity: 1; /* Volle Sichtbarkeit */
}







.addNewContact {
    position: relative;
    width: 302px;
    height: 56px;
    top: 22.5px;
    padding: 6px 0px 6px 0px;
    gap: 16px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.addNewContact:hover {
    cursor: pointer;
}


.personAdd {
    width: 30px;
}

.showContacts {
    display: flex;
    gap: 54px;
    flex-direction: column;
}


.editDeleteContacts {
    display: flex;
    gap: 18px;
}


.editShowContacts {
    display: flex;
    align-items: center;
    gap: 8px;
}

.deleteShowContacts {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contacts-icon-delete-showContacts {
    width: 15px;
}

.contacts-icon-edit-showContacts {
    width: 17px;
}

.showContactsNameEditDelete {
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.showContactsDetails {
    position: relative;
    top: 145px;
    display: flex;
    gap: 54px;
    flex-direction: column;
}

.emailPhone {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.lightblue {
    color: #007CEE;
}

.decorationNone {
    text-decoration: none;
}

.a:hover {
    cursor: pointer;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-20 {
    font-size: 20px;
}

.cursorPointer:hover {
    cursor: pointer;
}

.showAllContacts {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 90%;
    top: 25px;
    overflow-x: overlay;
}


.firstLetterFromContacts {
    display: flex;
    padding: 20px;
    align-items: center;
    padding-left: 30px;
}   

.firstLetterFromContacts p {
    font-size: 20px;
}

.vectorContacts {
    width: 302px;
    height: 2px;
}


.contactChamberLeftContainer {
    display: flex;
    gap: 35px;
    padding: 15px;
    align-items: center;
}

.contactChamberLeftContainer:hover {
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.contactChamberLeftContainer img  {
    height: 42px;
    width: 42px;
}

.nameAndEmailLeftContainer p {
    font-size: 13px;
    color: #007CEE;
}

.nameAndEmailLeftContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.formEditContact {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.width22 {
    width: 22px !important;
}

#showContactDetailsOnSlide {
    position: fixed;
    top: 18.5%;
    left: 120%;
    transition: width 6s ease-out, opacity 1s ease-in-out, left 0.5s ease-in-out;
    z-index: 100;
    object-fit: cover;
}


  
  #targetArea {
    position: relative;
    width: 500px;
    height: 522px;
    top: 145px;
    left: 55px;
}


.container {
    position: fixed;
    display: none; 
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(8px);
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .panel {
    width: 34%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.5s;
    right: -50%; 
    transition: right 0.5s ease-out;
  }
  
  /* CSS-Klassen zur Steuerung der Anzeige */
  .container.active, .panel.active {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .container.notactive, .panel.notactive {
    display: none;
    visibility: hidden;
    opacity: 0;
  }


  .panel.active {
    width: 34%;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }


  .centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

.leftrightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 592px;
    width: 1212px;
    border-radius: 10px;
}

.addContactImg {
    width: 38.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addContactImg img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.addContactInputFields {
    width: 61.5%;
    display: flex;
    align-items: center;
    padding-left: 60px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.inPutfields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 52px;
    width: 90%;
    padding-left: 40px;
}

.imgAndInputfields {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    margin-top: -60px;
}

.profilepictureSize {
    width: 120px;
    height: 120px;
}

.inputfieldAddContact {
    padding: 13px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: 400;
    z-index: 200;
    display: flex;
}

.cancelOrCreateContact {
    display: flex;
    gap: 24px;
}

.cancelButton {
    width: 126px;
    height: 56px;
    border-radius: 10px;
    background-color: white;
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
}

.cancelButton:hover {
    cursor: pointer;
}

.createAccountButton {
    width: 214px;
    height: 57px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.createAccountButton:hover {
    cursor: pointer;
}

.vectorCancelButton {
    width: 13px;
    height: 13px;
    margin-left: 5px;
}

.checkCreateAccountButton {
    width: 13px;
    height: 13px;
    margin-left: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 90%;
}

.closeButton {
    display: flex;
    justify-content: end;
    padding: 10px;
    padding-right: 25px;
    padding-left: 0px;
    padding-right: 55px;
}

.closeImgAdd:hover {
    cursor: pointer;
}

.closeButton img {
    width: 13px;
    height: 13px;
    object-fit: cover;
}

.right-Container {
    width: 80%;
}

.inputfield-icon {
    position: absolute;
    right: -10px; 
    top: 50%;
    transform: translateY(-50%); 
    width: 18px; 
}

.Name {
    position: relative;
    display: inline-block;
}


#clearButton:hover {
    cursor: pointer;
}



.showEmailLi {
    color: #007CEE;
    font-size: 13px;
}

#phonebook h2 {
    display: flex;
    padding: 20px;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 10px;
}

.display-flex {
    display: flex;
}

#phonebook ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0px;
}

#phonebook li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-left: 20px;
}

#neuerKontaktFormular {
    margin-bottom: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.edit-button {
    cursor: pointer;
    margin-left: 10px;
}

.edit-button:hover {
    color: blue;
}

.bestaetigen-button {
    margin-left: 10px;
    cursor: pointer;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 25px;
    justify-content: center;
}

.initials-circle{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    margin-right: 10px;
    font-size: 16px;
    justify-content: center;
    display: flex;
    border: 2px solid white; 
}

.initials-circle-show-contacts {
    width: 100px;
    height: 100px;
    line-height: 20px;
    border-radius: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    margin-right: 10px;
    font-size: 50px;
    justify-content: center;
    display: flex;
    border: 4px solid white; 
    align-items: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li:hover{
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.contactClicked {
    background-color: #2A3647 !important;
    color: white !important;
    border-radius: 10px !important;
}

li {
    display: flex;
    gap: 35px;
    padding: 15px;
    align-items: center;
}

.inputfieldAddContact::placeholder {
    color: #D1D1D1;
}


.align-items-contacts-slide-in {
    display: flex;
    align-items: center;
    gap: 54px;
}


.centerAll-edit {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftrightContainer-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 592px;
    width: 1212px;
    border-radius: 10px;
}

.addContactImg-edit {
    width: 38.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addContactImg-edit img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-right: 20px;
}

.addContactInputFields-edit {
    width: 61.5%;
    display: flex;
    align-items: center;
    padding-left: 60px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.inPutfields-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 52px;
    width: 90%;
}

.imgAndInputfields-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    margin-top: -60px;
}

.profilepictureSize-edit {
    width: 120px;
    height: 120px;
}

.inputfieldAddContact-edit {
    padding: 13px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: 400;
}

.inputfieldAddContact::placeholder-edit {
    color: #D1D1D1;
}

.cancelOrCreateContact-edit {
    display: flex;
    gap: 24px;
}

.cancelButton-edit {
    width: 111px;
    height: 56px;
    border-radius: 10px;
    background-color: white;
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
}

.saveButton-edit {
    width: 111px;
    height: 58px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.createAccountButton-edit {
    width: 214px;
    height: 57px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.vectorCancelButton-edit {
    width: 13px;
    height: 13px;
    margin-left: 5px;
}

.checkCreateAccountButton-edit {
    width: 13px;
    height: 13px;
    margin-left: 8px;
}

.inputs-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 90%;
}

.closeButton-edit {
    display: flex;
    justify-content: end;
    padding: 10px;
    padding-right: 15px;
}

.closeButton-edit img {
    width: 13px;
    height: 13px;
    object-fit: cover;
}

.rightContainer-edit {
    width: 80%;
}

.inputfield-icon-edit {
    position: absolute;
    right: -10px; 
    top: 50%;
    transform: translateY(-50%); 
    width: 18px; 
}

.Name-edit {
    position: relative;
    display: inline-block;
}

.cursorPointer :hover {
    cursor: pointer;
}

.initials-circle-edit-contacts {
    width: 100px;
    height: 90px;
    line-height: 20px;
    border-radius: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    margin-right: 10px;
    font-size: 40px;
    justify-content: center;
    display: flex;
    border: 4px solid white; 
    align-items: center;
}

.phoneListAndButton {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.centerVectorPhoneBook {
    display: flex;
    width: 100%;
    position: relative;
}

.addContactMobileImg {
    position: fixed;
    bottom: 10%;
    right: 7%;
    display: none;
}



@media (min-height: 1305px) {
    .main {
        height: 92.6vh;
    }

    .showAllContacts {
        height: 93%;
    }
}


@media (max-width: 1320px) {
    .phoneListAndButton {
        position: relative;
        /*width: 56%;*/
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 99.3vh;
    }

    header {
        display: flex;
        z-index: 2 !important;
        width: 100%;
        left: 0px !important;
        height: 80px !important;
    }

    .headline {
        display: none;
    }

    .JoinLogoHeaderImg {
        display: flex !important;
        margin-left: 5%;
    }

    .fixed-width-104 {
        margin-right: 5% !important;
    }

    .help-icon {
        display: none;
    }

    .rightContainer {
        display: none;
    }

    .showContacts {
        display: none;
    }

    .leftContainer {
        padding: 0px;
    }

    .main {
        display: flex;
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    .addContactMobileImg {
        display: flex;
        position: fixed;
        bottom: 10%;
        right: 15%;
    }
}

/*Umschlagspunkt*/

@media (max-width: 1320px) {
    .leftContainer {
        width: 100%;
    }

    .phoneListAndButton {
        width: 100%;
    }
    
    .showAllContacts {
        width: 80%;
        top: 5%;
    }

    .addNewContact {
        display: none;
    }
}

/*600px*/

@media (max-width: 600px) {
    .showAllContacts {
        width: 100%;
        height: 90%;
    }

    .addContactMobileImg {
        position: fixed;
        bottom: 10%;
        right: 7%;
    }

    .circle {
        width: 40px !important;
        height: 40px !important;
    }

    .fixed-width-104 {
        margin-right: 0% !important;
    }
}