<nav class="sidebar column space-around">
  <div class="center">
    <img class="sidebar_logo" src="./assets/img/sidebar_logo.png" />
  </div>
  <div class="column center menu">
    <div class="sidebar_nav center">
      <img src="./assets/img/summary_icon.png" /><span>Summary</span>
    </div>
    <div class="sidebar_nav center">
      <img src="./assets/img/addTask_icon.png" /><span>Add Task</span>
    </div>
    <div class="sidebar_nav center">
      <img src="./assets/img/board_icon.png" /><span>Board</span>
    </div>
    <div class="sidebar_nav center">
      <img src="./assets/img/contacts_icon.png" /><span>Contacts</span>
    </div>
  </div>
  <div class="data">
    <div class="data_nav">Privacy Policy</div>
    <div class="data_nav">Legal notice</div>
  </div>
</nav>
